.Total {
    margin-top: 40px;
    margin-left: 44%;
    margin-right: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.user-info {
  
    color: orange;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    display: flex;
}

.user-handles {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
   font-size: 30px;
   
}