.logo_image {
    width: 200px;
    height: auto;
    object-fit:contain;
    
    margin-right: 170px;
  }

.button{
    font-family: 'Rubik', sans-serif;
    color:#FF9900;
    border: none;
    background: none;
    font-size: 16px;
    width: 100px;
    padding-top: 20px;
    gap: 40px;
    flex-wrap: wrap;
    margin-right: 10%;
    text-decoration: none;
}

.navbar{
   
    display: flex;
    height: 60px;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    margin: 30px 200px 0 200px;
}

.User {
    color: aliceblue;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    width: 100px;
    padding-top: 20px;
    gap: 40px;
    flex-wrap: wrap;
    margin-right: 10%;
    text-decoration: none;
    margin-left: 10%;
}